body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Inter, sans-serif;
}

.header {
  width: 80%;
  max-width: 1200px;
  padding: var(--spacing-large) 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.header__title {
  font-weight: 400;
}

.header__description {
  font-size: var(--font-size-medium);
}

main {
  width: 100%;
  max-width: 1200px;
}

.main-container {
  width: 100%;
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
}

.list__item {
  padding: var(--spacing-small) var(--spacing-medium);
  border-radius: var(--border-radius-medium);
  display: flex;
  gap: var(--spacing-medium);
  background-color: var(--color-light-gray);
  cursor: grab;
}

.list__item-checkbox {
  width: var(--font-size-large);
}

.list__item--dragged {
  background-color: var(--color-primary-yellow);
}

.list__compare-button {
}

.correct {
}

.incorrect {
}
